$color: #003063;
$color-bg: #dceaff;

.container {
  padding: 1.5rem 2rem;
  flex: auto;
}

.person {
  display: flex;
  margin-bottom: 1rem;
  cursor: default;

  &__avatar {
    width: 250px;
    height: 250px;
    flex: none;
    display: flex;
    align-items: center;
    overflow: hidden;
    img {
      width: 100%;
    }
  }

  &__info {
    flex: auto;
    padding: .5rem 1rem;
  }

  &__name {
    margin-top: 0;
    margin-bottom: 1rem;
    color: $color;
    font-size: 2rem;
  }
}

.features {
  list-style: none;
  margin: 0;
  padding: 0 2rem;

  &__item {
    padding: .25rem 0;
    color: rgb(75, 75, 90);
    display: flex;
    /*
    transition: .25s all;

    &:hover {
      padding-left: 5px;
    }
    */
  }

  &__name {
    flex: none;
    display: inline-block;
    width: 100px;
    font-weight: bold;
    color: black;
  }
}

.content {
  display: flex;
  margin: 1rem 0;

  &__title {
    width: 160px;
    flex: none;
    padding: 1rem 2rem;
    font-weight: bold;
    box-sizing: border-box;
  }
  &__container {
    width: 80%;
  }
}


.buttons {
  text-align: center;
  
  &__link {
    margin: 0 .5rem;
    display: inline-block;
    text-decoration: none;
    border: 1px solid darken($color-bg, 20%);
    border-radius: .25rem;
    color: $color;
    background-color: #fff;
    width: 100px;
    line-height: 2.5rem;
    transition: .25s all;

    &:hover {
      background-color: $color-bg;
    }
  }
}

.loading {
  font-size: 2rem;
  text-align: center;
}

.error {
  text-align: center;
  margin-bottom: 1rem;
}
